.my-work {
  position: absolute;
  top: 36px;
  left: 0;
  font-size: var(--font-size-33xl);
  line-height: 74px;
  display: inline-block;
  width: 460px;
}
.im-in-my {
  margin: 0;
}
.responsive-web-design-courser {
  margin-bottom: 20px;
}
.google-ux-design-certificate {
  margin: 0;
  font-size: var(--font-size-5xl);
  padding-left: 32px;
}
.duis-nisi-do-container {
  position: absolute;
  top: 140px;
  left: 0;
  line-height: 30px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 588px;
  height: 324px;
}
.vector-icon {
  position: absolute;
  width: 100%;
  top: calc(50% - 88px);
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 224px;
}
.rishavraj24 {
  position: absolute;
  top: 10px;
  left: 42px;
  text-decoration: underline;
  color: inherit;
}
.frame-icon10,
.rishavraj24-parent {
  position: absolute;
  top: 0;
  height: 38px;
}
.frame-icon10 {
  left: 0;
  width: 38px;
  overflow: hidden;
}
.rishavraj24-parent {
  left: 20.11px;
  width: 157px;
}
.vector-parent {
  position: absolute;
  width: 18.86%;
  top: calc(50% - 136.5px);
  right: 10.69%;
  left: 70.45%;
  height: 272px;
  color: var(--color-darkturquoise);
}
.container-192 {
  position: absolute;
  top: 784px;
  left: calc(50% - 528px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 1056px;
  height: 493px;
}
.container-193-child {
  position: absolute;
  top: 392.5px;
  left: 588px;
  width: 588px;
  height: 1px;
}
.ad-do-dolore,
.bibendum-2017 {
  position: absolute;
  top: 233px;
  left: 684px;
  line-height: 26px;
}
.ad-do-dolore {
  top: 305px;
  display: inline-block;
  width: 492px;
}
.photographer {
  position: absolute;
  top: 267px;
  left: 684px;
  font-size: var(--font-size-xl);
  line-height: 30px;
}
.container-193-item {
  position: absolute;
  top: 195.5px;
  left: 588px;
  width: 588px;
  height: 1px;
}
.image-206,
.image-23-icon {
  position: absolute;
  overflow: hidden;
}
.image-23-icon {
  height: 100%;
  width: 94.34%;
  top: 0;
  right: 5.66%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image-206 {
  top: 26px;
  left: 578px;
  width: 106px;
  height: 100px;
}
.consectetur-2016,
.nostrud-tempor-cillum {
  position: absolute;
  top: 36px;
  left: 684px;
  line-height: 26px;
}
.nostrud-tempor-cillum {
  top: 108px;
  display: inline-block;
  width: 492px;
}
.graphic-design1 {
  position: absolute;
  top: 70px;
  left: 684px;
  font-size: var(--font-size-xl);
  line-height: 30px;
}
.image-207,
.image-24-icon {
  position: absolute;
  overflow: hidden;
}
.image-24-icon {
  height: 125%;
  width: 125%;
  top: 0;
  right: -25%;
  bottom: -25%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.image-207 {
  top: 233px;
  left: 588px;
  width: 80px;
  height: 80px;
}
.duis-nisi-do {
  position: absolute;
  top: 140px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 30px;
  display: inline-block;
  width: 588px;
  height: 324px;
}
.container-193 {
  position: absolute;
  top: 1491px;
  left: calc(50% - 574px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 1148px;
  height: 432px;
  font-size: var(--headings-size);
}
.projects4 {
  position: absolute;
  top: calc(50% - 11px);
  left: 12px;
  line-height: 22px;
}
.frame30,
.frame31 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.frame30 {
  text-decoration: none;
  position: absolute;
  width: 26.51%;
  right: 73.49%;
  left: 0;
  background-color: var(--color-gray-500);
  cursor: pointer;
  color: inherit;
}
.frame31 {
  width: 29.53%;
  right: 43.96%;
  left: 26.51%;
  color: var(--color-darkturquoise);
}
.frame31,
.frame32,
.header-menu-154 {
  position: absolute;
  background-color: var(--color-gray-500);
}
.frame32 {
  text-decoration: none;
  height: 100%;
  width: 18.12%;
  top: 0;
  right: 25.84%;
  bottom: 0;
  left: 56.04%;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.header-menu-154 {
  top: 8px;
  left: 967px;
  width: 298px;
  height: 24px;
}
.name-folio4 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 128px;
  font-size: var(--font-size-xl);
  line-height: 46px;
  font-weight: 700;
  font-family: var(--headings);
  color: var(--color-gray-300);
  cursor: pointer;
}
.container-1814 {
  position: absolute;
  top: 0;
  left: -37px;
  background-color: var(--color-white);
  width: 1280px;
  height: 62px;
  font-family: var(--font-inter);
}
.image-194-icon {
  position: absolute;
  top: 0;
  left: 187px;
  border-radius: 200px;
  width: 301.93px;
  height: 503px;
  object-fit: cover;
}
.group-child,
.group-item {
  position: absolute;
  top: 173.87px;
  left: 57.45px;
  width: 492.19px;
  height: 278.24px;
}
.group-item {
  top: 4.52px;
  left: 4.19px;
  border-radius: var(--br-11xs);
  width: 47.55px;
  height: 45.23px;
}
.detail-oriented,
.vector-group {
  position: absolute;
  top: 18px;
  left: 57.86px;
}
.vector-group {
  top: 33px;
  left: 465px;
  width: 175.86px;
  height: 45.23px;
}
.vector-container,
.vector-parent1 {
  position: absolute;
  top: 469px;
  left: 454px;
  width: 152.86px;
  height: 45.23px;
}
.vector-parent1 {
  top: 466px;
  left: 97px;
  width: 137.86px;
}
.image-194-parent,
.vector-parent2 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 187.86px;
  height: 45.23px;
}
.image-194-parent {
  top: 139px;
  width: 640.86px;
  height: 514.23px;
  font-size: var(--headings-size);
  color: var(--color-darkturquoise);
}
.hello-im-nelson1,
.occaecat-elit-pariatur-container {
  position: absolute;
  top: 178px;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 502px;
}
.hello-im-nelson1 {
  top: 0;
  left: 4px;
  font-size: var(--font-size-33xl);
  line-height: 74px;
}
.occaecat-elit-pariatur-non-lor-parent {
  position: absolute;
  top: 193px;
  left: 695px;
  width: 506px;
  height: 490px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
}
.container-1801 {
  position: absolute;
  top: 0;
  left: calc(50% - 600px);
  background-color: var(--color-white);
  width: 1201px;
  height: 763px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.container-182-child2,
.say-hello-and4 {
  position: absolute;
  top: 132px;
  left: 319px;
  width: 204px;
  height: 24px;
}
.say-hello-and4 {
  top: 0;
  left: 0;
  line-height: 74px;
  display: inline-block;
  width: 466px;
  height: 148px;
}
.mail-2020rajrishavgmailcom4,
.phone-no-914,
.whatsapp-no-914 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.phone-no-914,
.whatsapp-no-914 {
  top: 43px;
}
.whatsapp-no-914 {
  top: 86px;
}
.mail-2020rajrishavgmailcom-parent2 {
  position: absolute;
  top: 0;
  left: 553px;
  width: 321px;
  height: 114px;
  font-size: var(--font-size-xl);
}
.say-hello-and-lets-work-toget-parent1 {
  position: absolute;
  top: 56px;
  left: 319px;
  width: 874px;
  height: 148px;
}
.container-1824 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-200);
  width: 1280px;
  height: 273px;
  font-size: var(--font-size-33xl);
  color: var(--color-white);
}
.about-me4 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 2220px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--headings);
}
