.lorem-occaecat-proident,
.my-blogs {
  position: absolute;
  width: calc(100% - 452px);
  top: 135px;
  left: 52px;
  line-height: 74px;
  display: inline-block;
}
.lorem-occaecat-proident {
  top: 221px;
  font-size: var(--font-size-xl);
  line-height: 30px;
  font-family: var(--font-inter);
}
.image-244-icon {
  position: absolute;
  top: 98px;
  left: 1008px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.projects1 {
  position: absolute;
  top: calc(50% - 11px);
  left: 12px;
  line-height: 22px;
}
.frame21,
.frame22 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
}
.frame21 {
  text-decoration: none;
  position: absolute;
  width: 26.51%;
  right: 73.49%;
  left: 0;
  background-color: var(--color-gray-500);
  color: inherit;
}
.frame22 {
  width: 29.53%;
  right: 43.96%;
  left: 26.51%;
}
.frame22,
.frame23,
.header-menu-151 {
  position: absolute;
  background-color: var(--color-gray-500);
}
.frame23 {
  text-decoration: none;
  height: 100%;
  width: 18.12%;
  top: 0;
  right: 25.84%;
  bottom: 0;
  left: 56.04%;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
  color: var(--color-darkturquoise);
}
.header-menu-151 {
  top: 8px;
  left: 967px;
  width: 298px;
  height: 24px;
}
.name-folio1 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 128px;
  font-size: var(--font-size-xl);
  line-height: 46px;
  font-weight: 700;
  color: var(--color-gray-300);
  cursor: pointer;
}
.container-1811,
.container-226 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  width: 1280px;
}
.container-1811 {
  left: -12px;
  height: 62px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.container-226 {
  left: 0;
  height: 354px;
}
.image-234-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 459px;
  object-fit: cover;
}
.minim-anim-pariatur1 {
  position: absolute;
  top: 24px;
  left: 816px;
  line-height: 56px;
  display: inline-block;
  width: 336px;
}
.oct-16-20221 {
  position: absolute;
  top: 320px;
  left: 816px;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-216 {
  position: absolute;
  top: 36px;
  left: calc(50% - 588px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 1176px;
  height: 459px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
}
.image-235-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 215px;
  object-fit: cover;
}
.oct-16-20222,
.sint-dolore-laborum {
  position: absolute;
  top: 227px;
  left: 0;
  line-height: 36px;
}
.oct-16-20222 {
  top: 275px;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-217 {
  position: absolute;
  top: 551px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 301px;
  overflow: hidden;
}
.oct-2-20221 {
  position: absolute;
  top: 311px;
  left: 0;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-218 {
  position: absolute;
  top: 551px;
  left: 456px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.oct-1-20221 {
  position: absolute;
  top: 347px;
  left: 0;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-219,
.container-220 {
  position: absolute;
  top: 551px;
  left: 860px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 377px;
  overflow: hidden;
}
.container-220 {
  top: 1337px;
  left: 52px;
  height: 301px;
}
.officia-amet-officia {
  position: absolute;
  width: 100%;
  top: 227px;
  left: 0;
  line-height: 36px;
  display: inline-block;
}
.container-221 {
  position: absolute;
  top: 1337px;
  left: 456px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.gta-5-still {
  margin: 0;
}
.container-222 {
  position: absolute;
  top: 1337px;
  left: 860px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.nulla-ex-voluptate {
  position: absolute;
  top: 227px;
  left: 0;
  line-height: 36px;
  display: inline-block;
  width: 368px;
}
.container-223,
.container-224,
.container-225 {
  position: absolute;
  top: 944px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.container-224,
.container-225 {
  left: 456px;
  height: 301px;
}
.container-225 {
  left: 860px;
  height: 337px;
}
.image-196-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 371px;
  height: 215px;
  object-fit: cover;
}
.minim-anim-pariatur2,
.oct-16-20225 {
  position: absolute;
  top: 223px;
  left: 0;
  line-height: 36px;
  display: inline-block;
  width: 371px;
}
.oct-16-20225 {
  top: 303px;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-1841 {
  position: absolute;
  top: 1730px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 371px;
  height: 329px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.dolore-nisi-ipsum2 {
  position: absolute;
  width: 100%;
  top: 223px;
  left: 0;
  line-height: 36px;
  display: inline-block;
}
.container-1851,
.container-1861 {
  position: absolute;
  top: 1730px;
  left: 459px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 371px;
  height: 329px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.container-1861 {
  left: 865px;
}
.container-215 {
  position: absolute;
  top: 398px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 1280px;
  height: 2144px;
  font-size: var(--font-size-5xl);
}
.container-182-item,
.say-hello-and1 {
  position: absolute;
  top: 132px;
  left: 203px;
  width: 204px;
  height: 24px;
}
.say-hello-and1 {
  top: 0;
  left: 0;
  line-height: 74px;
  display: inline-block;
  width: 466px;
  height: 148px;
}
.mail-2020rajrishavgmailcom1,
.phone-no-911,
.whatsapp-no-911 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.phone-no-911,
.whatsapp-no-911 {
  top: 43px;
}
.whatsapp-no-911 {
  top: 86px;
}
.mail-2020rajrishavgmailcom-group {
  position: absolute;
  top: 0;
  left: 553px;
  width: 321px;
  height: 114px;
  font-size: var(--font-size-xl);
}
.container-1821,
.say-hello-and-lets-work-toget-group {
  position: absolute;
  top: 56px;
  left: 203px;
  width: 874px;
  height: 148px;
}
.container-1821 {
  top: 2586px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1280px;
  height: 273px;
  color: var(--color-white);
}
.blogs2 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 2859px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-darkslategray-200);
  font-family: var(--headings);
}
