.image-234-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 768px;
  height: 459px;
  object-fit: cover;
}
.minim-anim-pariatur3 {
  position: absolute;
  top: 24px;
  left: 816px;
  line-height: 56px;
  display: inline-block;
  width: 336px;
}
.oct-16-20226 {
  position: absolute;
  top: 320px;
  left: 816px;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-2161 {
  position: absolute;
  top: 36px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 1176px;
  height: 459px;
  overflow: hidden;
  font-size: var(--font-size-21xl);
}
.image-235-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 215px;
  object-fit: cover;
}
.oct-16-20227,
.sint-dolore-laborum1 {
  position: absolute;
  top: 227px;
  left: 0;
  line-height: 36px;
}
.oct-16-20227 {
  top: 275px;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-2171 {
  position: absolute;
  top: 551px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 301px;
  overflow: hidden;
}
.dolore-nisi-ipsum3 {
  position: absolute;
  width: 100%;
  top: 227px;
  left: 0;
  line-height: 36px;
  display: inline-block;
}
.oct-2-20225 {
  position: absolute;
  top: 311px;
  left: 0;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-2181 {
  position: absolute;
  top: 551px;
  left: 456px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.oct-1-20225 {
  position: absolute;
  top: 347px;
  left: 0;
  font-size: var(--headings-size);
  line-height: 26px;
}
.container-2191,
.container-2201,
.container-2211 {
  position: absolute;
  top: 551px;
  left: 860px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 377px;
  overflow: hidden;
}
.container-2201,
.container-2211 {
  top: 1337px;
  left: 52px;
  height: 301px;
}
.container-2211 {
  left: 456px;
  height: 337px;
}
.gta-5-still1 {
  margin: 0;
}
.container-2221 {
  position: absolute;
  top: 1337px;
  left: 860px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.nulla-ex-voluptate1 {
  position: absolute;
  top: 227px;
  left: 0;
  line-height: 36px;
  display: inline-block;
  width: 368px;
}
.container-2231,
.container-2241,
.container-2251 {
  position: absolute;
  top: 944px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
  width: 368px;
  height: 337px;
  overflow: hidden;
}
.container-2241,
.container-2251 {
  left: 456px;
  height: 301px;
}
.container-2251 {
  left: 860px;
  height: 337px;
}
.next {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 36px);
  line-height: 28px;
}
.frame-icon5 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% + 12px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.button-112,
.container-2151 {
  position: absolute;
  border-radius: var(--br-9xs);
}
.button-112 {
  text-decoration: none;
  top: 1724px;
  left: calc(50% - 90px);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 180px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: var(--color-darkturquoise);
}
.container-2151 {
  top: 354px;
  left: calc(50% - 640px);
  background-color: var(--color-white);
  width: 1280px;
  height: 1818px;
  font-size: var(--font-size-5xl);
}
.lorem-occaecat-proident1,
.my-blogs1 {
  position: absolute;
  width: calc(100% - 612px);
  left: 132px;
  display: inline-block;
}
.my-blogs1 {
  top: 135px;
  line-height: 74px;
  font-family: var(--headings);
}
.lorem-occaecat-proident1 {
  top: 221px;
  font-size: var(--font-size-xl);
  line-height: 30px;
}
.image-244-icon1 {
  position: absolute;
  top: 98px;
  left: 1008px;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
.projects2 {
  position: absolute;
  top: calc(50% - 11px);
  left: 12px;
  line-height: 22px;
}
.frame24,
.frame25 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
}
.frame24 {
  text-decoration: none;
  position: absolute;
  width: 26.51%;
  right: 73.49%;
  left: 0;
  background-color: var(--color-gray-500);
  color: inherit;
}
.frame25 {
  width: 29.53%;
  right: 43.96%;
  left: 26.51%;
}
.frame25,
.frame26,
.header-menu-152 {
  position: absolute;
  background-color: var(--color-gray-500);
}
.frame26 {
  text-decoration: none;
  height: 100%;
  width: 18.12%;
  top: 0;
  right: 25.84%;
  bottom: 0;
  left: 56.04%;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
  color: var(--color-darkturquoise);
}
.header-menu-152 {
  top: 8px;
  left: 967px;
  width: 298px;
  height: 24px;
}
.name-folio2 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 128px;
  font-size: var(--font-size-xl);
  line-height: 46px;
  font-weight: 700;
  font-family: var(--headings);
  color: var(--color-gray-300);
  cursor: pointer;
}
.container-1812,
.container-2261 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  width: 1280px;
}
.container-1812 {
  left: 4px;
  height: 62px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.container-2261 {
  left: calc(50% - 640px);
  height: 354px;
  font-family: var(--font-inter);
}
.container-182-inner,
.say-hello-and2 {
  position: absolute;
  top: 132px;
  left: 203px;
  width: 204px;
  height: 24px;
}
.say-hello-and2 {
  top: 0;
  left: 0;
  line-height: 74px;
  display: inline-block;
  width: 466px;
  height: 148px;
}
.mail-2020rajrishavgmailcom2,
.phone-no-912,
.whatsapp-no-912 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.phone-no-912,
.whatsapp-no-912 {
  top: 43px;
}
.whatsapp-no-912 {
  top: 86px;
}
.mail-2020rajrishavgmailcom-container {
  position: absolute;
  top: 0;
  left: 553px;
  width: 321px;
  height: 114px;
  font-size: var(--font-size-xl);
}
.say-hello-and-lets-work-toget-container {
  position: absolute;
  top: 56px;
  left: 203px;
  width: 874px;
  height: 148px;
}
.container-1822 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-200);
  width: 1280px;
  height: 273px;
  color: var(--color-white);
}
.blogs1 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 2527px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-darkslategray-200);
  font-family: var(--headings);
}
