.lorem-occaecat-proident2,
.my-projects1 {
  position: absolute;
  width: calc(100% - 959px);
  top: 140px;
  left: 132px;
  line-height: 74px;
  display: inline-block;
}
.lorem-occaecat-proident2 {
  width: calc(100% - 612px);
  top: 226px;
  font-size: var(--font-size-xl);
  line-height: 30px;
}
.image-196-icon2 {
  position: absolute;
  top: 101px;
  left: 1009px;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.container-1813 {
  position: absolute;
  top: 0;
  left: 4px;
  background-color: var(--color-white);
  width: 1280px;
  height: 62px;
}
.projects3 {
  position: absolute;
  top: calc(50% - 11px);
  left: 12px;
  line-height: 22px;
}
.frame27,
.frame28 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
}
.frame27 {
  text-decoration: none;
  position: absolute;
  width: 26.51%;
  right: 73.49%;
  left: 0;
  background-color: var(--color-gray-500);
  color: var(--color-darkturquoise);
}
.frame28 {
  width: 29.53%;
  right: 43.96%;
  left: 26.51%;
}
.frame28,
.frame29,
.header-menu-153 {
  position: absolute;
  background-color: var(--color-gray-500);
}
.frame29 {
  text-decoration: none;
  height: 100%;
  width: 18.12%;
  top: 0;
  right: 25.84%;
  bottom: 0;
  left: 56.04%;
  border-radius: var(--br-9xs);
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
.header-menu-153 {
  top: 8px;
  left: 967px;
  width: 298px;
  height: 24px;
}
.name-folio3 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 128px;
  font-size: var(--font-size-xl);
  line-height: 46px;
  font-weight: 700;
  color: var(--color-gray-300);
  cursor: pointer;
}
.container-1823,
.container-197 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  width: 1280px;
}
.container-1823 {
  left: -12px;
  height: 62px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.container-197 {
  left: calc(50% - 640px);
  height: 354px;
}
.food-photography {
  position: absolute;
  top: 64px;
  left: 48px;
  line-height: 26px;
  color: var(--color-blueviolet);
}
.pure-summer-garden,
.sint-occaecat-deserunt2 {
  position: absolute;
  left: 48px;
  font-family: var(--headings);
  display: inline-block;
  width: 438px;
}
.pure-summer-garden {
  top: 90px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
}
.sint-occaecat-deserunt2 {
  top: 138px;
  line-height: 26px;
}
.view-project2 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 62.5px);
  line-height: 26px;
}
.button-107,
.frame-icon6 {
  position: absolute;
  overflow: hidden;
}
.frame-icon6 {
  top: calc(50% - 10px);
  left: calc(50% + 42.5px);
  width: 20px;
  height: 20px;
}
.button-107 {
  top: 327px;
  left: 48px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  width: 157px;
  height: 44px;
  color: var(--color-darkslategray-100);
}
.image-221-icon,
.image-222-icon,
.image-223-icon {
  position: absolute;
  top: 64px;
  left: 522px;
  width: 178px;
  height: 307px;
  object-fit: cover;
}
.image-222-icon,
.image-223-icon {
  top: 28px;
  left: 736px;
}
.image-223-icon {
  top: 64px;
  left: 950px;
}
.container-202 {
  position: absolute;
  top: 947px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite);
  width: 1176px;
  height: 407px;
  overflow: hidden;
}
.landscape {
  position: absolute;
  top: 36px;
  left: 48px;
  line-height: 26px;
  color: var(--color-darkturquoise);
}
.fairy-tales,
.sint-occaecat-deserunt3 {
  position: absolute;
  left: 48px;
  font-family: var(--headings);
  display: inline-block;
  width: 436px;
}
.fairy-tales {
  top: 62px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
}
.sint-occaecat-deserunt3 {
  top: 110px;
  line-height: 26px;
}
.button-108 {
  position: absolute;
  top: 332px;
  left: 48px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  width: 157px;
  height: 44px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
}
.image-224-icon,
.image-225-icon {
  position: absolute;
  top: 0;
  left: 842px;
  width: 286px;
  height: 339px;
  object-fit: cover;
}
.image-225-icon {
  top: 72px;
  left: 520px;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 340px;
}
.container-203 {
  position: absolute;
  top: 1418px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  width: 1176px;
  height: 412px;
  overflow: hidden;
}
.paris-secrets1 {
  position: absolute;
  top: 90px;
  left: 48px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
  font-family: var(--headings);
}
.image-14-icon1,
.image-2-icon1,
.image-22-icon1 {
  position: absolute;
  top: 29px;
  left: 749px;
  width: 151.53px;
  height: 307px;
  object-fit: cover;
}
.image-14-icon1,
.image-2-icon1 {
  top: 62px;
  left: 522px;
  width: 158.45px;
}
.image-2-icon1 {
  left: 969px;
  width: 147.74px;
}
.container-1911 {
  position: absolute;
  top: 0;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite);
  width: 1176px;
  height: 407px;
}
.oceanic-feeling1 {
  position: absolute;
  top: 62px;
  left: 48px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
  font-family: var(--headings);
}
.button-1011 {
  position: absolute;
  top: 296px;
  left: 48px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-500);
  width: 157px;
  height: 44px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
}
.image-201-icon1,
.image-202-icon1 {
  position: absolute;
  top: 36px;
  left: 520px;
  border-radius: var(--br-9xs);
  width: 286px;
  height: 340px;
  object-fit: cover;
}
.image-202-icon1 {
  top: 0;
  left: 842px;
}
.container-1901 {
  position: absolute;
  top: 471px;
  left: 52px;
  border-radius: var(--br-5xs);
  background-color: var(--color-azure);
  width: 1176px;
  height: 376px;
  overflow: hidden;
}
.container-199 {
  position: absolute;
  top: 390px;
  left: calc(50% - 640px);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 1280px;
  height: 1863px;
  font-size: var(--headings-size);
  font-family: var(--font-inter);
}
.container-182-child1,
.say-hello-and3 {
  position: absolute;
  top: 132px;
  left: 319px;
  width: 204px;
  height: 24px;
}
.say-hello-and3 {
  top: 0;
  left: 0;
  line-height: 74px;
  display: inline-block;
  width: 466px;
  height: 148px;
}
.mail-2020rajrishavgmailcom3,
.phone-no-913,
.whatsapp-no-913 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.phone-no-913,
.whatsapp-no-913 {
  top: 43px;
}
.whatsapp-no-913 {
  top: 86px;
}
.mail-2020rajrishavgmailcom-parent1 {
  position: absolute;
  top: 0;
  left: 553px;
  width: 321px;
  height: 114px;
  font-size: var(--font-size-xl);
}
.group-div {
  position: absolute;
  top: 56px;
  left: 319px;
  width: 874px;
  height: 148px;
}
.container-1824 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 640px);
  background-color: var(--color-gray-200);
  width: 1280px;
  height: 273px;
  color: var(--color-white);
}
.my-projects {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  width: 100%;
  height: 2628px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-33xl);
  color: var(--color-darkslategray-200);
  font-family: var(--headings);
}
